<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful-U Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>WELCOME TO MINDFUL-U!</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/checkin">Daily Check-In</a> |
            <a href="/resources">Mental Health Resources</a>
        </nav>
    </header>
    
    <div class="home-container">
        <p>Take a moment to reflect and check in on yourself...</p>
        <p>You are awesome!</p>
    </div>
    
    
    <footer>
        <p>© 2024 Mindful-U</p>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
